.changa-one-regular {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    background-color: #00A000;
}

main {
    margin-bottom: 2rem;
}

footer {
    padding: 2rem;
    border-top: 1px solid black;
    color: white;
    text-align: center;
    background-color: #00A000;  
}

a {
    text-decoration: none;
    color: white;
}

tr {
  height: 48px;
}

.space-x > * {
    margin-right: .5rem;
    margin-left: .5rem;
}

.container-md {
    padding: 2rem;
}

.rounded {
    border-radius: 2rem;
}

.border-b {
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.btn-primary {
    border-color: #00A000;
    background-color: #00A000;
}

.btn-primary:hover {
    border-color: #007000;
    background-color: #007000;
}

body {
    background-color: var(--bs-body-bg);
}



@media all and (min-width:720px) and (max-width: 920px) {
    .fixed-bottom {
        margin-left: 64px;
        margin-right: 16px;
    }
}

@media all and (min-width:520px) and (max-width: 720px) {
    .fixed-bottom {
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media all and (min-width:0px) and (max-width: 520px) {
    .fixed-bottom {
        margin-left: 16px;
        margin-right: 16px;
    }
}